.blackbar {
  /* width: 1400px; */
  /* margin: 0 auto; */
  background: #000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 110px; 
  margin-top: 30px;      /* Space between menu items */
}

.blackbar a {
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}
