.bi-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 64px 16px;
  background: #ffffff;
  margin-top: 40px;
}

.bi-wrapper {
  width: 100%;
  max-width: 1120px;
}

.bi-title {
  
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  /* margin-bottom: 3px;     */
  color: #23306B;
  margin-bottom: 90px;
}

.bi-header-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.bi-header-card {   
  color: #fff;
  width: 258px;
  height: 87px;
  padding: 18px 16px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 16px;
}

.bi-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bi-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  background: #f3f4ff;
  border-radius: 10px;
  padding: 20px;
}

.bi-cell {
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 600;
  color: #23306B;
  border-left: 1px solid #d3d5f2;
}

.bi-cell:first-child {
  border-left: none;
}
