/* FULL background like screenshot */
.case-hero {
  background: #FBF5F0; /* exact cream */
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Center content */
.case-content {
  max-width: 1353px; /* Figma width */
  width: 100%;
  text-align: center;
}

/* Title */
.case-title {
  font-size: 32px;
  font-weight: 700;
  color: #23306B;
  margin-top: 10px;
  margin-bottom: 17px;
}

/* Subtitle */
.case-subtitle {
  font-size: 21px;
  font-weight: 500;
  color: #444;
  margin-bottom: 100px;
}

/* HERO IMAGE EXACT WIDTH LIKE FIGMA */
.case-hero-image {
  width: 100%;
  max-width: 1120px;
  /* height: 450px; */
  margin: 0 auto;
  display: block;
  /* border-radius: 4px; */
  margin-bottom: -28px;
}
