.cert-section {
  background: #F4F0ED;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
}

/* ---------- Certification Cards ---------- */

.cert-cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.cert-card {
  width: 125px;
  height: 115px;
  background: #ffffff;
  border: 2px solid #bfdbfe;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.cert-card img {
  width: 110px;
  height: auto;
}

.cert-card .cert-img2 {
  width: 90px;
  height: auto;
}

.cert-card .cert-img {
  margin-top: 12px;
  width: 130px;
  height: 80px;
}

.cert-card .cert-img {
  margin-top: 12px;
  width: 130px;
  height: 80px;
}

.cert-card .cert-img1 {
  width: 120px;
  /* height: 80px; */
}



/* ---------- Flags Row ---------- */

.flags-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.flags-row img {
  width: 45px;
  height: 30px;
}

/* RESPONSIVE — TABLETS */
@media (max-width: 1024px) {
  .cert-cards {
    gap: 15px;
  }

  .cert-card {
    width: 110px;
    height: 105px;
  }

  .cert-card img {
    width: 90px;
  }

  .flags-row img {
    width: 40px;
    height: 26px;
  }
}

/* RESPONSIVE — MOBILE (Medium)*/
@media (max-width: 768px) {
  .cert-cards {
    flex-wrap: wrap;       /* 2 rows */
    gap: 15px;
  }

  .cert-card {
    width: 45%;
    height: 110px;
    margin: 0 auto;
  }

  .cert-card img {
    width: 80px;
  }

  .flags-row {
    flex-wrap: wrap;
    gap: 10px;
  }

  .flags-row img {
    width: 38px;
    height: 24px;
  }
}

/* RESPONSIVE — SMALL MOBILE*/
@media (max-width: 480px) {
  .cert-cards {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }

  .cert-card {
    width: 100%;
    height: 120px;
  }

  .cert-card img {
    width: 75px;
  }

  .flags-row {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .flags-row img {
    width: 40px;
    height: 22px;
  }
}
