
.clients-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #EFF6FF; 
  padding: 50px 40px;
  margin-top: 40px;
}

.clients-container {
  text-align: center;
  width: 100%;
}

.clients-container h2 {
  color: #4B8FDD;
  font-family: "Inter", "Source Sans 3", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 100px;
}


.slider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 80px; /* space between rows */
  padding: 30px 0;
}

/* TRACK (FIXED - NO JERK) */
.slide-track {
  display: flex;
  gap: 20px;    
  width: max-content;  
  animation: scroll 45s linear infinite;
}

/* REVERSE ROW */
.slide-track.reverse {
  animation: scroll-reverse 40s linear infinite;
}

/* LOGO CARD */
.logo-card {
  min-width: 250px;
  height: 110px;
  background: #ffffff;
  border: 1px solid #d4dff2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.logo-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 7px 15px rgba(0,0,0,0.12);
}

/* IMAGE */
.logo-card img {
  width: 130px;
  object-fit: contain;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 768px) {
  .clients-wrapper {
    padding: 40px 0px;
  }

  .clients-container h2 {
    font-size: 22px;
  }

  .logo-card {
    min-width: 30px;
    height: 70px;
  }
  .logo-card img {
    width: 90px;
  }

  .slide-track {
    animation: scroll 30s linear infinite;
  }

  .slide-track.reverse {
    animation: scroll-reverse 25s linear infinite;
  }
}

@media (max-width: 480px) {
  .clients-container h2 {
    font-size: 18px;
    line-height: 1.5;
  }
}