.footer {
  /* width: 1400px; */
  max-width: 1400px;
  background: #4A90E2;   /* Blue color */
  padding: 12px 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", "Source Sans 3", "Roboto", "Helvetica Neue", Arial, sans-serif;

  /* border-radius: 10px 10px 0 0; */
  color: white;

  box-sizing: border-box;
}

/* Left Text */
.footer-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/* Right Side Icons */
.footer-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #4A90E2;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  background: #e3e3e3;
}
