.hero-only-image {
  /* width: 1400px; */
  height: 544.17px;
  margin: 0 auto;

/* <-- EXACT PATH */
  background-image: url("../images/video.png");
  /* height: 500px; */
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
