.trusted-tech {
  padding: 100px 0 100px;
  /* background: #f4f6f9; */
   background: rgba(75, 143, 221, 0.14);
  margin-top: 30px;
}

.trusted-tech-container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.trusted-title {
  font-size: 40px;
  font-weight: 600;
  color: #4a7ecb;
  margin-bottom: 100px;
}

.trusted-description {
  max-width: 780px;
  margin: 0 auto 80px;
  font-size: 18px;
  line-height: 1.7;
  /* color: #5f6f82; */
  color: black;
}

.trusted-tech-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  
}

.trusted-tech-card {
  flex: 1;
  max-width: 270px;
  padding: 40px 30px;
  background: #d9e3ee;
  border-radius: 14px;
  font-size: 17px;
  font-weight: 600;
  /* color: #243447; */
  color: #4a7ecb;
  background-color: white;
  transition: all 0.3s ease;
}

.trusted-tech-card:hover {
  transform: translateY(-6px);
  background: #cfdff0;
}