.vital-wrapper {
  /* max-width: 1400px;
  margin: 0 auto; */
  text-align: center;
  padding: 80px 1px;
  /* font-family: "Inter", sans-serif; */
  font-family: "Inter", "Source Sans 3", "Roboto", "Helvetica";

}

/* Header */
.vital-header h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #23306B;
  font-family: 'Urbanist', sans-serif;
}

.vital-header h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: 'Urbanist', sans-serif;
}

.vital-header p {
  font-size: 17px;
  color: #555;
  max-width: 800px;
  margin: 0 auto 50px;
  margin-bottom: 150px ;
  /* letter-spacing: 0.7px; */
}

/* Cards wrapper */
.vital-features {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

/* Individual Card */
.vital-card {
  width: 300px;
  margin-top: -15px;
  margin-bottom: 88px;
}

.vital-card img {
  width: 100%;
  /* border-radius: 8px; */
  filter: brightness(80%); 
  transition: transform 1s ease;   /* Smooth animation */
  cursor: pointer;
}

.vital-card img:hover {
  transform: scale(1.08);            /* Zoom effect */
}

.vital-card h3 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #23306B;
}

.vital-card p {
  font-size: 13.5px;
  margin-top: 15px;
  /* color: #555; */
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.8px;
  font-family: "Inter", "Source Sans 3", "Roboto", "Helvetica";

  

}

/* Responsive */
@media (max-width: 768px) {
  .vital-features {
    justify-content: center;
  }
}
